main {
    margin-top: 24px;
    margin-left: 16px;
    padding: 1.2em 0.4em;
}

.card_list {
    list-style-type: none;
    display: grid;
    grid-gap: 10px 10px;
}

.card {
    box-sizing: border-box;
    color: #333;
    border: 0.5px solid #e9eaea;
    padding-left: 0.4em;
}

.blog {
    padding-left: 0.4em;
}

.card_title,
.card_publishedAt {
    margin: 0;
}

.card_title,
.card_text_link,
.blog_title,
.blog_body,
.home_link {
    padding: 0.8em 0;
}

.card_publishedAt,
.card_category,
.blog_publishedAt,
.blog_category {
    font-size: 0.8em;
}

.card_text_link {
    font-size: 0.8em;
    color: #00b5ad;
    cursor: pointer;
}

.home_link {
    font-size: 0.8em;
    color: #00b5ad;
    cursor: pointer;
}